/* generics*/
*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

body {
    font-family: sans-serif;
    background-color: black;
}

.container{
    display: flex;
    flex-direction: column;
    height: 100vh;
}





/*utilities*/
.white{
    color: white;
}

.btn{
    display: flex;
    align-items: center;
    font-size: 1em;
    background-color: #4a4a4a;
    text-decoration: none;
    padding: 6px 4px;
    border-radius: 6px;
    margin: 8px;
}

.flex{
    display: flex;
}



/*content*/


.speaker{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    position: absolute;
    top: 8px;
    right: 6px;
}

.speaker ul{
    list-style-type: none;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.speaker li{
    margin: 6px;
    color: white;
}

 
.speaker a{
    border-radius: 8px;
    text-decoration: none;
    color: white;
    background-color: #4a4a4a;
    padding: 6px;
}

.speaker i{
    margin: 4px;
    color: white;
}

.video-item{
    background-color: black;

    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 15%;
    margin: 5px;
    display: flex;
    justify-content: center;
}
.video-item img{
    max-height: 100%;
    max-width: 38%;
}
.shortcuts{
    z-index: 10;
    position: absolute;
    top:0;
    right:20px;
}
#video-section{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;

    overflow-y: auto;
    max-height: 90vh;
}
.toolbar{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height:10vh;
    background-color: hsl(0deg 0% 13%);
}

.toolbar i{
    font-size: 22px;
    margin: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.toolbar a{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 12px;
    text-decoration: none;
    color: white;
    margin: 4px;
}

.audio-cam{
    flex-direction: row;
    margin-left: 10px;
}

#freccia{
    font-size: 14px;
}

#active{
    color: hsl(98deg 100% 39%);
}